<div class="d-flex justify-content-between align-items-center me-3 m-2">
    <a class="navigation-link text-decoration-none text-blue" href="/spotify">
        <i class="bi bi-spotify fs-5"></i>
        <span class="fs-5 mb-0 font-no-monospace fw-light">
            Spotify
        </span>
        <div class="ms-2 spinner-grow text-success spinner-grow-sm font-size-essm update-spinner d-none"
             data-page="spotify"
             role="status"
        ></div>
    </a>
    <span class="font-size-sm d-flex" id="spotifyDeviceWrapper">
        <%- include ("./spotify_device.ejs") %>
    </span>
</div>

<% if (spotify.serviceEnabled && !spotify.enabled) { %>
    <div class="col flex-grow-1">
        <div class="card p-0 rounded-10 bg-blue-dark py-3">
            <div class="d-flex align-items-center justify-content-center">
                <span class="text-center font-size-ssm">
                    <span class="h5 fw-bold d-block">SPOTIFY SERVICE NOT ENABLED</span>
                    <span class="d-block"><%= spotify.error %></span>
                    <span class="d-block">Go to <a href="/settings">settings</a> to check or edit your credentials.</span>
                </span>
            </div>
        </div>
    </div>
<% } %>

<% if (spotify.serviceEnabled && spotify.enabled) { %>
    <div id="spotifyPlayerWrapper">
        <%- include ("./spotify_player.ejs"); %>
    </div>
<% } %>
