<div class="row row-cols-2 g-1">
    <% artists.forEach(function (artist) { %>
        <div class="col">
            <%- include ("./spotify_artist_item", { artist: artist }); %>
        </div>
    <% }); %>
</div>
