<div class="row row-cols-1 g-1">
    <% albums.forEach(function (album) { %>
        <div class="col">
            <%- include ("./spotify_album_item", { album: album }); %>
        </div>
    <% }); %>
</div>
