<div class="row row-cols-1 g-1">
    <% playlists.forEach(function (playlist) { %>
        <div class="col">
            <%- include ("./spotify_playlist_item", { playlist: playlist }); %>
        </div>
    <% }); %>
</div>
