<div class="row row-cols-3 row-cols-md-4 row-cols-xxl-5 g-1">
    <% categories.forEach(function (category) { %>
        <div class="col">
            <%- include ("../widgets/spotify_category_item", { category: category }); %>
        </div>
    <% }); %>
</div>