/*Custom Sizes*/
.w-200p {
    width: 200px;
}
.w-100p {
    width: 100px;
}
.w-50p {
    width: 50px;
}
.h-50p {
    height: 50px;
}
.mw-30p {
    max-width: 30px;
}
.mh-30p {
    max-height: 30px;
}
.mw-50p {
    max-width: 50px;
}
.mh-50p {
    max-height: 50px;
}
.ms2px {
    margin-left: 2px;
}
.mt-4px {
    margin-top: -4px !important;
}

/*Various custom classes*/
.active {
    font-weight: bold;
}
.refresh-badge {
    font-size: var(--bs-font-size-ssm);
}
.cursor-pointer:hover {
    cursor: pointer;
}
.animate {
    transition: all 1s ease;
}
.clicked {
    background-color: var(--animate-color);
    border-color: var(--animate-color);
}
.spotify-media-image {
    object-fit: cover;
}
.transform-rotate {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.cancelled {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: var(--bs-danger);
    text-decoration-thickness: 2px;
}
.temp-celsius::after {
    content: "°C";
}

/*Horizontal slider for devices page */
input.device-slider-horizontal[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 31px;
    width: 100%;
    cursor: pointer;
    border-radius: 0.65rem; /* iOS */
}

input.device-slider-horizontal::-webkit-slider-runnable-track {
    background: rgb(98, 98, 98);
}

input.device-slider-horizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 31px;
    border-radius: 0.65rem;
    border: 0px solid #999;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input.device-slider-horizontal[toggle-type="brightness"]::-webkit-slider-thumb {
    box-shadow: -215px 0 0 200px rgb(var(--bs-primary-rgb));
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-brightness-high' viewBox='0 0 16 16'%3E%3Cpath d='M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
}
input.device-slider-horizontal[toggle-type="color"]::-webkit-slider-thumb {
    box-shadow: -215px 0 0 200px rgb(var(--bs-warning-rgb));
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-brightness-alt-high' viewBox='0 0 16 16'%3E%3Cpath d='M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4zm0 1a3 3 0 0 1 2.959 2.5H5.04A3 3 0 0 1 8 8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
}

/*Vertical slider for home page */
input.device-slider-vertical {
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    margin: 0;
    outline: none;
    background: transparent;
    overflow: hidden;
    transform: rotate(-90deg);
}

input.device-slider-vertical::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 24px;
    height: 60px;
    border-radius: 10px;
    border: 10px solid var(--bs-blue);
    background: var(--bs-blue-dark);
    box-shadow: -100vw 0 0 100vw var(--bs-blue);
}
