<!DOCTYPE html>
<html lang="en" data-bs-set-darkmode-onload="true">

<%- include ('partials/head') %>

<body class="color-scheme-dark font-monospace bg-body bg-gradient" data-page="<%= page %>">
    <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0">
            <main class="col m-0 p-3 vh-100 min-vh-100 max-vh-100 overflow-auto" id="pageContent">
                <%- include ('pages/' + page) %>
            </main>
        </div>
    </div>

    <%- include ('partials/nav'); %>

    <script src="/events/ScriptsBundled.js"></script>
</body>
