<% const navItems = [
    { path: "home", label: "Home", icon: "bi-grid", iconActive: "bi-grid-fill" },
    { path: "spotify", label: "Spotify", icon: "bi-spotify", iconActive: "bi-spotify" },
    { path: "weather", label: "Weather", icon: "bi-cloud-sun", iconActive: "bi-cloud-sun-fill" },
    { path: "travel", label: "Travel", icon: "bi-stoplights", iconActive: "bi-stoplights-fill" },
    { path: "devices", label: "Devices", icon: "bi-lightbulb", iconActive: "bi-lightbulb-fill" },
    { path: "energy", label: "Energy", icon: "bi-plug", iconActive: "bi-plug-fill" },
    { path: "calendar", label: "Calendar", icon: "bi-calendar-date", iconActive: "bi-calendar-date-fill" },
    { path: "tasks", label: "Tasks", icon: "bi-list-task", iconActive: "bi-list-check" },
    { path: "crypto", label: "Crypto", icon: "bi-currency-bitcoin", iconActive: "bi-currency-bitcoin" },
    { path: "settings", label: "Setting", icon: "bi-gear", iconActive: "bi-gear-fill" },
    { path: "logs", label: "Logs", icon: "bi-card-text", iconActive: "bi-card-text" },
    { path: "", label: "Refresh", icon: "bi-arrow-clockwise", iconActive: "bi-arrow-clockwise", customClasses: "refresh-page" }
]; %>

<div class="modal fade" id="navigationContainer" aria-labelledby="navigationContainer" tabindex="2" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" data-bs-dismiss="modal" data-bs-target="#navigationContainer">
        <div class="modal-content bg-black bg-opacity-95">
            <div class="position-absolute top-0 end-0 pt-3 pe-3">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex align-items-center min-vh-100">
                <div class="container-fluid">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                        <% navItems.forEach(function (item) { %>
                            <% const isActive = page === item.path; %>
                            <div class="col text-center mb-3">
                                <a class="btn btn-blue-dark rounded-10 ratio ratio-1x1 sidebar-link <%= item.customClasses ? item.customClasses : "" %>"
                                   href="/<%= item.path %>" style="max-width: 125px; max-height: 125px;">
                                    <span class="d-flex align-items-center justify-content-center">
                                        <i class="bi <%= isActive ? item.iconActive + " text-blue" : item.icon + " text-white" %> fs-2"></i>
                                    </span>
                                </a>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
